// $pink: #e63946;
// $dark-blue: #1d3557;
// $light-blue: #457b9d;
// $aqua: #a8dadc;
// $white: #f1faee;

// $pink-dark: #e66b6b;
// $pink: #ffa685; // lepiej z ciemnym tekstem
// $pink-opacity: rgba(255, 166, 133, 0.2)
// $pink-opacity-hover: rgba(255, 166, 133, 0.4)
// $gray-dark: #505050;
// $gray-light: #909090;
// $white: #f2f2f2; // lepiej z ciemnym tekstem

$white: rgb(248, 249, 250);
$white-l1: rgb(233, 236, 239);
$white-l2: rgb(222, 226, 230);
$white-l3: rgb(206, 212, 218);
$white-l4: rgb(173, 181, 189);
$gray: rgb(108, 117, 125);
$gray-d1: rgb(73, 80, 87);
$gray-d2: rgb(52, 58, 64);
$gray-d3: rgb(33, 37, 41);

$time: .2s;

@mixin display-flex($position) {
    display: flex;
    justify-content: $position;
    align-items: $position;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    @include display-flex(center);
    font-size: 1em;
    font-family: Montserrat, "sans-serif";
    background: $white-l3;
    color: $gray-d2;
}
.arrow {
    fill:$white;
}
#root {
    display: flex;
    height: 100vh;
    width: 100vw;

    .user {
        width: 20%;
        height: 100%;
        background: $white-l3;
    }

    .calendar-event-wrapper {
        display: flex;
        width: 80%;

        .event {
            width: 30%;
            background: $gray-d1;
            color: $white;
    
            .event-header {
                padding: 2em 0;
                // background: $pink;

                p {
                    text-align: center;
                    font-size: 1.5em;
                    line-height: 1.35em;
                    // text-transform: uppercase;

                    &:first-child {
                        font-weight: 600;
                        font-size: 2.5em;
                    }
                }
            }
        }
        .calendar-body {
            display: flex;
            width: 70%;
            height: 100%;
            flex-flow: column;
            // -webkit-box-shadow: 1px 0px 10px 0px $gray-dark;
            // -moz-box-shadow: 1px 0px 10px 0px $gray-dark;
            // box-shadow: 1px 0px 10px 0px $gray-dark;
            // z-index: 1;
    
            .calendar-header {
                @include display-flex(center);
                flex-direction: column;
                background: $gray-d1;
                flex: 0 1 auto;
    
                .calendar-month-switch{
                    width: 100%;
                    padding: 2em 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .arrow-left,
                    .arrow-right {
                        .arrow {
                            cursor: pointer;
                            width: 3em;
                            height: 3em;
                            fill: $white;
                            transition: $time;
    
                            &:hover {
                                fill: $white-l4
                            }
                        }
                    }
    
                    .calendar-header-date {
                        width: 70%;
                        // user-select: none;
                        p {
                            color: $white;
                            padding: 0.2em 0;
                            text-align: left;
    
                            &:first-child {
                                font-size: 2em;
                            }
    
                            &:nth-child(2) {
                                font-size: 1.4em;
                            }
                        }
                    }
                    
                }
            }
    
            .calendar-main {
                padding: 2em;
                background: $white;
                flex-grow: 1;
    
    
                .week-days {
                    display: flex;
                    // overflow-y: auto;
                    color: $gray-d1;
                    padding: 0 0 2em 0;
    
                    // user-select: none;
        
        
                    .week-day {
                        text-align: center;
                        font-weight: 600;
                        width:calc(100% / 7)
                    }
                }
                .calendar-days {
                    display: flex;
                    flex-wrap: wrap;
                    color: $gray-d1;
                
                    .calendar-day {
                        width:calc(100% / 7)
                    }
                
                    .current-day {
                        font-weight: 600;
                    }
                
                    .full {
                        border-radius: 25px;
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        transition: $time;
        
                        &:nth-child(even) {
                            background: $white-l2;
        
                            &:hover {
                                background: $white-l3;
                            }
                        }
        
                        &:nth-child(odd) {
                            &:hover {
                                background: $white-l1;
                            }
                        }
        
                        .selected {
                            color: $gray-d3;
                            font-weight: 600;
                        }
                        p {
                            font-size: 1.3em;
                            margin: 0.5em 0 2em 1em;
                            
                        }
                    }
                
                    .empty {
                       visibility: hidden;
                    }
                }
            }
        }
    }
}