// $pink: #e63946;
// $dark-blue: #1d3557;
// $light-blue: #457b9d;
// $aqua: #a8dadc;
// $white: #f1faee;

// $pink-dark: #e66b6b;
// $pink: #ffa685; // lepiej z ciemnym tekstem
// $pink-opacity: rgba(255, 166, 133, 0.2)
// $pink-opacity-hover: rgba(255, 166, 133, 0.4)
// $gray-dark: #505050;
// $gray-light: #909090;
// $white: #f2f2f2; // lepiej z ciemnym tekstem

// $white: #000;
// $white-l1: rgb(233, 236, 239);
// $white-l2: rgb(222, 226, 230);
// $white-l3: rgb(206, 212, 218);
// $white-l4: rgb(173, 181, 189);
// $gray: rgb(108, 117, 125);
// $gray-d1: rgb(73, 80, 87);
// $gray-d2: rgb(52, 58, 64);
// $gray-d3: rgb(33, 37, 41);

// colors

$white: #FFF;
$white-hover: #EEE;
$beige: rgb(235,219,190);
$beige-hover: rgb(216, 193, 146);
$gray: rgba(125, 136, 146, 0.336);
$gray-hover: #d3d7da;
$gray-dark: rgb(33, 37, 41);
$black: #000;

$green: #59e76a;
$red: #f04525;
$orange: #ffa657;
// set px
$border-radius: 10px;

// set time durration
$time: .2s;

@mixin display-flex($position) {
    display: flex;
    justify-content: $position;
    align-items: $position;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    @include display-flex(center);
    font-size: 1em;
    font-family: Montserrat, "sans-serif";
    background: $white;
    color: $black;
}

#root {
    display: flex;
    height: 100vh;
    width: 100vw;

    .user {
        @include display-flex(center);
        width: 20%;
        height: 100%;
        background: $gray-dark;
        color: $white;

        .user-login,
        .user-register {
            form {
                @include display-flex(center);
                flex-direction: column;
                margin: 0 0 1em 0;

                h1 {
                    margin: 0 0 0.5em 0;
                }

                label {
                    margin: 0 0 1em 0;

                    p {
                        text-align: left;
                        font-size: 0.8em;
                        margin: 0 0 2px 0;
                    }

                    input {
                        outline: none;
                    }
                }

                input {
                    border-radius: $border-radius;
                    border: none;
                    padding: 1em;
                }

                input[type=submit] {
                    background: $white;
                    width: 100%;
                    transition: $time;
                    cursor: pointer;

                    &:hover {
                        background: $beige;
                    }
                }
            }

            p {
                text-align: center;
                font-size: 0.8em;
            }
        }
    }

    .calendar-event-wrapper {
        display: flex;
        width: 80%;

        .event {
            width: 30%;
            // background: $gray-dark;
            color: $black;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
    
            .event-header {
                padding: 2em 0;
                background: $gray-dark;
                color: $white;

                p {
                    text-align: center;
                    font-size: 1.4em;
                    padding: 0.2em 0;

                    // line-height: 1.35em;?
                    // text-transform: uppercase;

                    &:first-child {
                        font-weight: 600;
                        font-size: 2em;
                    }
                }
            }

            .event-container {
                flex-grow: 2;

                .event-item {
                    display: flex;
                    justify-content: space-between;
                    margin: 1em;
                    padding: 1em;
                    background: $white;
                    color: $black;
                    border: 1px solid $gray-dark;
                    border-radius: $border-radius;
                    .event-item-data {
                        p  {
                            text-align: left;
                            margin-bottom: 0.5em;
                        }
        
                        .event-user {
                            font-weight: 600;
                        }
                    }

                    .event-manage-data {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        button {
                            // @include display-flex(center);
                            // margin: 0.5em;
                            background: none;
                            border: none;
                            cursor: pointer;
                        }
        
                        .event-icon {
                            border-radius: 50px;
                            width: 1.5em;
                            height: 1.5em;
                            .event-icon-edit {
                                fill: $orange;
                            }
            
                            .event-icon-delete {
                                fill: $red;
                            }
                        }
                    }
                }
            }
            
            .event-manage {
                width: 100%;
                text-align: center;

                button {
                    // @include display-flex(center);
                    margin: 0.5em;
                    background: $white;
                    border: 1px solid $gray-dark;
                    cursor: pointer;
                }

                .event-icon {
                    width: 4em;
                    height: 4em;
                    border-radius: 50px;
                    padding: 1rem;                  

                    .event-icon-add {
                        fill: $green;
                    }

                    .event-icon-edit {
                        fill: $orange;
                    }
    
                    .event-icon-delete {
                        fill: $red;
                    }
                }
            }
        }
        .calendar-body {
            display: flex;
            width: 70%;
            height: 100%;
            flex-flow: column;
    
            .calendar-header {
                @include display-flex(center);
                flex-direction: column;
                background: $gray-dark;
                flex: 0 1 auto;
    
                .calendar-month-switch{
                    width: 100%;
                    padding: 2em 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .arrow-left,
                    .arrow-right {
                        .arrow {
                            cursor: pointer;
                            width: 3em;
                            height: 3em;
                            fill: $white;
                            transition: $time;
    
                            &:hover {
                                fill: $gray
                            }
                        }
                    }
    
                    .calendar-header-date {
                        width: 70%;
                        // user-select: none;
                        p {
                            color: $white;
                            padding: 0.2em 0;
                            text-align: left;
    
                            &:first-child {
                                font-size: 2em;
                            }
    
                            &:nth-child(2) {
                                font-size: 1.4em;
                            }
                        }
                    }
                    
                }
            }
    
            .calendar-main {
                background: $white;
                flex-grow: 1;
    
    
                .week-days {
                    display: flex;
                    color: $black;
                    padding: 1em;
                    background: $beige;
        
                    .week-day {
                        text-align: center;
                        font-weight: 600;
                        width:calc(100% / 7)
                    }
                }
                .calendar-days {
                    // padding: 2em 2em 0 2em;
                    display: flex;
                    flex-wrap: wrap;
                    color: $black;
                
                    .calendar-day {
                        min-height: 5em;
                        width:calc(100% / 7);
                    }
                
                    .current-day {
                        font-weight: 600;
                    }
                
                    .full {
                        // border-radius: $border-radius;
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        transition: $time;

                        &:nth-child(even) {
                            background: $white-hover;

                            &:hover {
                                background: $gray-hover;
                            }
                        }
        
                        // &:nth-child(7n-1),
                        &:nth-child(7n) {
                            background: $beige;
        
                            &:hover {
                                background: $beige-hover;
                            }
                        }
        
                        &:hover {
                            background: $white-hover;
                        }
        
                        .selected {
                            font-weight: 600;
                        }
                        .calendar-day-number {
                            font-size: 1.3em;
                            margin: 0.5em 0 0.5em 0.5em;
                        }

                        .calendar-day-event-date {
                            margin: 0 0 0.5em 0.5em;

                        }
                    }
                
                    .empty {
                       visibility: hidden;
                    }
                }
            }
        }
    }
}