// colors
$green: rgb(16,185,129);
$green-hover: rgba(16, 185, 129, 0.7);
$red: rgb(239,68,68);
$red-hover: rgba(239, 68, 68, 0.7);
$yellow: rgb(255, 198, 53);
$blue: rgb(30, 161, 221);
$violet: rgb(105, 48, 195);
$pink: rgb(230, 57, 70);
$brown: rgb(212,122,69);
$black: #000;
$white: rgba(255, 255, 255, 0.7);

// theme
$main: rgb(23,23,23);
$second-theme: rgb(47,73,208);
$second-theme-hover: rgba(47, 74, 208, 0.7);
$background: rgb(30,30,30);
$font: rgb(207, 207, 207);
$font-opacity: rgba(207, 207, 207, 0.7);
$gray-hover: #2c2c2c;
$gray-light: rgb(53,53,53);
$gray-dark: #121212;
$gray: rgba(8, 10, 12, 0.2);

// set px
$border-radius: 10px;

// set time durration
$time: .3s;

@mixin display-flex($x-position, $y-position) {
    display: flex;
    justify-content: $x-position;
    align-items: $y-position;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include display-flex(center, center);
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    object-fit: fill;
    background: $background;
    color: $font;
}

#root {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;

    .user,
    .event {
        background-color: $main;
    }

    header {
        @include display-flex(center, center);
        color: $font;
        width: 100%;
        min-height: 100px;
        overflow: hidden;
        position: relative;
        padding: 2em;

        h1,
        p{
            z-index: 1;
        }

        .icon {
            width: 25px;
            height: 20px;
            fill: $black;
            margin-right: 0.5em;
        }

        .login,
        .register,
        .dashboard {
            position: absolute;
            background: $main;
            height: 150%;
            width: auto;
            opacity: 0.3;
            left: -1vw;
            z-index: 0;
        }
    }

    a[data-type="login"] {
        color: $yellow;
    }

    a[data-type="register"] {
        color: $green;
    }
    
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .user {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: column;

        .loading {
            @include display-flex(center, center);
            align-self: center;
            flex: 1 1 auto;
        }

        .user-login,
        .user-register {
            @include display-flex(center, center);
            flex-direction: column;
            flex: 1 1 auto;
            padding: 0 2em;
            
            form {
                @include display-flex(space-between, center);
                flex-wrap: wrap;

                .name,
                .surrname {
                    width: 48% !important;
                    input[id=name],
                    input[id=surrname] {
                        width: 100%;
                    }
                }

                .input {
                    display: flex;
                    flex-direction: row-reverse;
                    border-radius: $border-radius;
                    width: 100%;
                    overflow: hidden;
                    margin: 0 0 1em 0;

                    label {
                        display: flex;
                        align-items: center;
                        background: $gray-dark;
                        
                        p {
                            padding: 1em;
                            margin: 0;
    
                            svg {
                                fill: $font;
                                transition: $time;
                            }
                        }
                    }
                    
                    input {
                        width: 100%;
                        outline: none;
                        border: none;
                        padding: 1em;
                        background: $gray-light;
                        color: $font;
    
                        &:focus + label[data-type="register"] > p > svg{
                            fill: $yellow;
                        }

                        &:focus + label[data-type="login"] > p > svg{
                            fill: $green;
                        }
                    }

                    input[type=text],
                    input[type=email],
                    input[type=password] {
                        transition: $time;
                    }
                }
                
                button {
                    background: $second-theme;
                    border-radius: $border-radius;
                    color: $font;
                    width: 100%;
                    border: none;
                    padding: 1em;
                    transition: $time;
                    cursor: pointer;

                    &:hover {
                        background: $second-theme-hover;
                        transform: scale(0.97);
                    }
                }
            }

            p {
                text-align: center;
                margin-top: 1em;
                color: $font;

                a {
                    font-weight: 600;
                }
            }
        }

        .user-dashboard {
            @include display-flex(center, flex-start);
            padding: 1em;

            .groups {
                width: 100%;

                .owner,
                .member {
                    background: $gray-light;
                    border-radius: $border-radius;
                    padding: 1em;
                    margin-bottom: 1em;

                    h2 {
                        text-align: left;
                    }

                    .group {
                        background: $gray-dark;
                        border-radius: $border-radius;
                        // opacity: .7;
                        color: $font-opacity;
                        padding: 1em;
                        margin-top: .5em;

                        h3 {
                            padding-bottom: 0.2em;
                        }
                    }
                }
            }
        }

        .header-dashboard {

            section {
                width: 100%;
                display: flex;
                height: fit-content;
                justify-content: space-between;
                z-index: 1;

                .user-info {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    background: $second-theme;
                    padding: 1em;
                    border-radius: $border-radius;
                    
                    span {
                        margin-right: 5px;

                        svg {
                            width: auto;
                        }
                    }
                }

                button {
                    background: $red;
                    color: $font;
                    padding: 0 1em;
                    border: none;
                    border-radius: $border-radius;
                    transition: $time;
                    cursor: pointer;

                    svg {
                        width: 18px;
                        height: 18px;
                        transition: $time;
                    }

                    &:hover {
                        background: $red-hover;
                    }
                    &:hover > svg {
                        opacity: .6;
                        transform: translateX(3px);
                    }
                }
            }
        }
    }

    .calendar-event-wrapper {
        display: flex;
        width: 80%;
        overflow-x: hidden;

        .hide {
            width: 0%;
            opacity: 0%;
            visibility: hidden;
        }

        .open {
            width: 30%;
        }

        .open,
        .hide {
            transition: $time;
            display: flex;

            .event {
                width: 100%;
                color: $font;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                white-space: nowrap;
                
                header {
                    flex-direction: column;
    
                    p {
                        font-size: 1.4em;
                        font-weight: 600;
                        line-height: 1;
    
                        &:first-child {
                            font-weight: 600;
                            font-size: 2em;
                        }
                    }
                }
    
                .event-container {
                    flex-grow: 2;
                    position: relative;
                    z-index: 999;
                    overflow: hidden;

                    &:after {
                        content: 'EVENT';
                        position: absolute;
                        top: -20px;
                        left: 0;
                        color: $black;
                        font-weight: 900;
                        opacity: .1;
                        letter-spacing: -0.1em;
                        writing-mode: vertical-rl;
                        width: 280px;
                        font-size: 20em;
                        z-index: -1;
                    }
    
                    .event-item {
                        display: flex;
                        justify-content: space-between;
                        border-radius: $border-radius;
                        margin: 1em;
                        padding: 1em 3em;
                        background: $yellow;
                        color: $black;

                        .event-item-data {
                            p  {
                                text-align: left;
                                margin-bottom: 0.5em;
                            }
            
                            .event-user {
                                font-weight: 600;
                            }
                        }
    
                        .event-manage-data {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            button {
                                background: none;
                                border: none;
                                cursor: pointer;
                            }
            
                            .event-icon {
                                border-radius: 50px;
                                width: 1em;
                                height: 1em;
                                .event-icon-edit {
                                    fill: $black;
                                }
                
                                .event-icon-delete {
                                    fill: $black;
                                }
                            }
                        }
                    }
                }
                
                .event-manage {
                    width: 100%;
                    text-align: center;
    
                    button {
                        background: $gray-hover;
                        border:none;
                        cursor: pointer;
                        transition: $time;

                        &:hover {
                            background: $green-hover;
                        }
                    }
    
                    .event-icon {
                        @include display-flex(center, center);
                        width: 100%;
                        padding: 2em;                  
    
                        .event-icon-add {
                            width: 3em;
                            height: 3em;
                            fill: $font;
                        }
                    }
                }
            }
        }

        .event-open {
            width: 70%;
        }

        .event-hiden {
            width: 130%;
        }

        .calendar-body {
            display: flex;
            height: 100%;
            flex-flow: column;
            transition: $time;
            padding: 2em;

            nav {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2em;
                width: 100%;

                .calendar-month-switch{
                    @include display-flex(center, center);
                    width: auto;
                    border-radius: $border-radius;
                    background: $main;
    
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        bottom: 5px;
                        background-size: cover;
                        background-position: center 230px;
                        z-index: -1;
                    }
    
                    .arrow-left,
                    .arrow-right {
                        .arrow {
                            cursor: pointer;
                            width: 3em;
                            height: 3em;
                            fill: $font;
                            transition: $time;
                        }
                    }
    
                    .arrow-left {
                        .arrow {
                            &:hover {
                                transform: translateX(-5px);
                            }
                        }
                    }
    
                    .arrow-right {
                        .arrow {
                            &:hover {
                                transform: translateX(5px);
                            }
                        }
                    }
    
                    .calendar-header-date {
                        min-width: 150px;
                        margin: 0 2em;
    
                        p {
                            line-height: 1.3;
    
                            &:first-child {
                                font-weight: 600;
                                font-size: 2em;
                            }
    
                            &:nth-child(2) {
                                font-weight: 600;
                                font-size: 1.4em;
                            }
                        }
                    }
                }

                .button-hide {
                    align-self: flex-start;
                    padding: 1em 2em;
                    border-radius: $border-radius;
                    text-align: center;
                    background: $second-theme;
                    font-weight: 700;
                    cursor: pointer;
                    transition: $time;

                    p {
                        display: flex;
                        align-items: center;
                        transition: $time;

                        svg {
                            margin-right: 5px;
                        }
                    }

                    &:hover {
                        background: $second-theme-hover;

                        p {
                            opacity: .6;
                        }
                    }
                }
            }
            
    
            .calendar-main {
                background-size: cover;
                background: $main;
                border-radius: $border-radius;
                padding: 24px;

                .week-days {
                    display: flex;
                    color: $font;
                    padding: 1em;
                    background: $second-theme;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
        
                    .week-day {
                        text-align: center;
                        font-weight: 900;
                        width:calc(100% / 7)
                    }
                }

                .calendar-days {
                    display: flex;
                    flex-wrap: wrap;
                    border-bottom-right-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    overflow: hidden;

                    .calendar-day {
                        min-height: 100px;
                        width:calc(100% / 7);
                    }
                
                    .fill {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        transition: $time;
                        overflow: hidden;
                        cursor: pointer;

                        &:nth-child(even) {
                            background: $gray;

                            &:hover {
                                background: $gray-hover;
                            }
                        }
        
                        &:nth-child(7n) {
                            background: $second-theme;
                            color: $font-opacity;
        
                            &:hover {
                                background: $second-theme-hover;
                            }
                        }
        
                        &:hover {
                            background: $gray-hover;
                        }

                        .selected {
                            color: $white;
                            opacity: 1 !important;
                        }

                        .calendar-day-number {
                            width: fit-content;
                            display: inline-block;
                            font-weight: 900;
                            letter-spacing: -3px;
                            line-height: .8em;
                            font-size: 3em;
                            opacity: .4;
                            transition: $time;
                        }

                        .calendar-day-event-date {
                            margin: 0 0 0.5em 0.5em;

                        }
                    }
                
                    .empty {
                       visibility: hidden;
                    }
                }
            }
        }
    }
}